body{
    margin : 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f4f4f9;
    color: #333;
}

.container{
    display: flex;
    width: 100%;
}

.sidebar{
    width: 250px;
    position: fixed;
    padding: 15px;
    background-color: #2c3e50;
    height: 100%;
    color: #ecf0f1;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 500;
    color : #ecf0f1
}

.sidebar a{
    color: #63C5DA;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    font-size: 18px;
    transition: background-color 0.3s,color 0.3s;
}

.sidebar a:hover{
    background-color: #34495e;
    color: #ecf0f1;
    padding-left: 10px;
    border-left: 4px solid #63C5DA;
    border-radius: 2px;
}

.content{
    margin-left: 300px;
    padding: 20px;
    width: 100%;
}

.content section{
    margin-bottom: 30px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h2{
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 4px 4px 0 0;
    margin: -15px -15px 15px -15px;
}

.content p{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #555;
}


.content ul{
    padding-left: 20px;
}

.content ul li{
    margin: 5px 0;
}

.highlight{
    color: red;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        box-shadow: none;
    }

    .content {
        margin-left: 0;
    }
}




